@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* ----------------Main Layout---------------- */
body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template: 200px 1fr / 300px 1fr;
    grid-template-areas: 
        "sidenav header"
        "sidenav main";
}

.sidenav {
    background-color: #1e94d1;
    grid-area: sidenav;
    z-index: 1;
    
    display: grid;
    grid-template-rows: 70px min-content min-content;
    gap: 50px;
}

header {
    grid-area: header;
    box-shadow: rgb(175, 175, 175) 0px 0px 10px 0px;
}

main {
    background-color: #e2e8f0;
    grid-area: main;
    /* z-index: -1; */
}

/* ---------------- Sidenav ---------------- */

/* .sidenav > * {
    border: solid 1px white;
} */

.sidenav * {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.sidenav .container-link,
.brand {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.sidenav .first-section, .sidenav .second-section {
    font-size: 1.4rem;
    line-height: 1.8;
}

.sidenav .container-icon {
    display: grid;
    justify-content: center;
    align-items: center;
}

.sidenav .container-icon img {
    width: 1.4rem;
    height: 1.4rem;
}

.brand {
    font-weight: bold;
}

/* .brand > * {
    border: solid 1px white;
} */

.container-logo {
    padding: 18px 13px;
    display: grid;
    grid-template: 2fr 1fr 2fr / 1fr 1fr;
    gap: 4px;
}

.logo-block {
    background-color: white;
}

.logo-block:nth-child(1) {
    grid-row: 1 / 3;
}

.logo-block:nth-child(4) {
    grid-row: 2 / 4;
}

.dashboard-name {
    font-size: 1.8rem;
    align-self: center;
}

/* ---------------- Header ---------------- */

header * {
    /* border: dashed 1px lightgray; */
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: stretch;
    padding: 20px;
    gap: 30px;
}

.top {
    display: flex;
    /* grid-template-columns: min(1500px, 60%) 1fr;
    align-items: stretch; */
    justify-content: space-between;
    gap: 2rem;
}

.top .container-search{
    flex: 0 1 600px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-icon{
    flex: none;
    display: grid;
    justify-items: center;
    align-items: center;
}

.search-icon .icon {
    width: 1.4rem;
    height: 1.4rem;
}

.search-bar {
    flex: auto;
    display: grid;
    justify-items: stretch;
}

#search-bar{
    background-color: #e2e8f0;
    padding: 5px;
    padding-left: 10px;
    border-radius: 100px;
    border: none;
}

#search-bar:focus {
    outline: solid 1px #8cb6fc;
}

.top .container-user {
    display: flex;
    gap: 1.2rem;
    justify-content: end;
    align-items: center;
}

.top .notif-bell {
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.top .notif-bell .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.top .user-icon {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
}

.top .user-icon .icon{
    background-color: #e2e8f0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.top .user-name {
    cursor: pointer;
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.bottom .container-welcome {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-welcome .user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-welcome .user-icon .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e2e8f0;
}

.user-welcome {
    font-weight: bold;
}


.user-welcome p:first-child {
    font-size: 0.8rem;
}

.user-welcome .user-name {
    font-size: 1.3rem;
}

.bottom .container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.bottom .container-buttons .btn {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    min-width: 85px;
    background-color: #1e94d1;
    color: white;
    font-weight: 500;
}

.bottom .container-buttons .btn:hover {
    background-color: rgb(30, 169, 236);
    cursor: pointer;
}

.bottom .container-buttons .btn:active {
    background-color: rgb(30, 131, 184);
    cursor: pointer;
}

/* ---------------- Main ---------------- */

/* .trending * {
    border: dashed 1px rgb(177, 177, 177);
} */

main {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}

main h1, main h2, main h3 {
    margin: 0;
}

main h1 {
    margin: 16px 0 5px;
}

.card-project,
.container-announcements,
.container-trends {
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgb(175, 175, 175) 1px 1px 3px 0px;
}

.description, .trend-project .project-name {
    margin: 0;
    color: #646464;
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
}

.container-cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card-project {
    border-left: solid 10px #efb23d;
    padding: 2rem 1rem;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-project footer {
    margin: 0 10px;
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}



.card-project .container-icon {
    cursor: pointer;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-project footer .icon{
    width: 1.5rem;
    height: 1.5rem;
}

.announcements {
    grid-area: announcements;
}

.container-announcements {
    padding: 1.8rem;
}

.single-announcement {
    padding: 20px 5px;
}

.single-announcement:nth-child(2) {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;;
}

.single-announcement h2 {
    font-size: 1.2rem;
}

.trending {
    grid-area: trending;
}

.container-trends {
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}

.trend-project {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.trend-project .container-user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend-project .icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #d2d2d2;
}


.trend-project:nth-child(1) .icon {
    background-image: url(https://api.dicebear.com/7.x/adventurer/svg?seed=Max&backgroundColor=ffdfbf);
}

.trend-project:nth-child(2) .icon {
    background-image: url(https://api.dicebear.com/7.x/fun-emoji/svg?seed=Patches);
}

.trend-project:nth-child(3) .icon {
    background-image: url(https://api.dicebear.com/7.x/avataaars/svg?seed=Rascal&backgroundColor=d1d4f9,c0aede,ffd5dc);
}

.trend-project:nth-child(4) .icon {
    background-image: url(https://api.dicebear.com/7.x/bottts/svg?seed=Charlie);
}

.trend-project .username {
    cursor: pointer;
    font-size: 0.9rem;
}

.trend-project .project-name {
    cursor: pointer;
    font-size: 0.9rem;
}